/* BarcodeGenerator.css */

.barcode-container {
  width: 100%;
  max-width: 800px;
  margin: 40px auto; /* Margens superior e inferior ajustadas */
  padding: 20px;
  background-color: #2c2c2c;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-bottom: 20px;
}

.barcode-icon {
  margin-right: 8px;
  font-size: 2rem;
}

.barcode-input {
  margin-bottom: 20px;
}

.barcode-format, .barcode-scale {
  margin-bottom: 20px;
}

.barcode-format-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.barcode-format .MuiFormControlLabel-root {
  margin: 5px;
}

.barcode-display {
  margin-bottom: 20px;
}

.barcode-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.copy-button {
  margin-top: 10px;
}

.error-message {
  margin-top: 10px;
}

.clear-button {
  margin-top: 20px;
}

@media (max-width: 600px) {
  .barcode-container {
    padding: 15px;
    margin: 20px auto;
  }

  .title {
    font-size: 1.5rem;
  }

  .barcode-input {
    margin-bottom: 15px;
  }

  .barcode-format, .barcode-scale {
    margin-bottom: 15px;
  }

  .copy-button {
    font-size: 0.875rem;
  }

  .clear-button {
    font-size: 0.875rem;
  }
}
