.body-main {
    background: #ffffff;
    border-bottom: 15px solid #1E1F23;
    border-top: 15px solid #1E1F23;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 40px 30px !important;
    position: relative;
    box-shadow: 0 1px 21px #808080;
    font-size: 10px;
}

.main thead {
    background: #1E1F23;
    color: #fff;
}

.img {
    height: 100px;
}

h1 {
    text-align: center;
}

.brcode {
    margin-top: 90px;
}

.bbc {
    margin-left: 900px;
}

.containers {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

/* Estilo do input */
input {
    margin: 10px;
    border: 0.5px solid rgb(34, 131, 200);
    height: 50px;
    width: 150px;
    text-indent: 10px;
    border-radius: 5px;
}

.buttons button {
    width: 100px;
    height: 40px;
    background: #325aa8;
    color: white;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    margin-left: 10px;
}

.buttons button:hover {
    background: #1E1F23;
    color: #ffffff;
    transition: 0.5s;
}
