/* Template.css */

/* Import Roboto font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.pdf-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: #ffffff; /* White background for the main container */
  font-family: 'Roboto', sans-serif; /* Use Roboto font */
  color: #333;
  text-align: center;
}

.pdf-logo {
  max-width: 150px; /* Logo size */
  margin: 0 auto 20px; /* Center logo */
}

.pdf-container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  background: #48ede5; /* Header color */
  border-radius: 10px 10px 0 0;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #48ede5;
  font-weight: 700; /* Bold */
}

h2 {
  font-size: 1.8em;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #333;
  font-weight: 500; /* Medium */
}

h3 {
  font-size: 1.5em;
  margin-top: 15px;
  color: #333;
  font-weight: 500; /* Medium */
}

.product-list {
  list-style-type: none;
  padding: 0;
}

.product-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 1px solid #ddd; /* Light border for items */
  border-radius: 8px;
  background-color: #f9f9f9; /* Light background for items */
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.product-list li:hover {
  background-color: #f1f1f1; /* Hover effect */
}

.product-list li span {
  flex-grow: 1;
  font-weight: 700; /* Bold for product text */
}

button {
  background-color: #48ede5; /* Primary button color */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #36b2c0; /* Darker shade on hover */
}

.add-product-button {
  background-color: #28a745; /* Success color */
}

.add-product-button:hover {
  background-color: #218838;
}

.print-button {
  background-color: #ffc107; /* Warning color */
}

.print-button:hover {
  background-color: #e0a800;
}

input[type="text"],
input[type="number"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; /* Use Roboto font for inputs */
}

input[type="text"]:focus,
input[type="number"]:focus {
  border-color: #48ede5; /* Highlight color */
  outline: none;
}

.dialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-close {
  cursor: pointer;
  color: #e74c3c; /* Error color */
}

.icon-close:hover {
  opacity: 0.8;
}

/* Media Queries */
@media (max-width: 600px) {
  .pdf-container {
    padding: 20px;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  button {
    width: 100%;
    margin: 5px 0;
  }
}
