/* Template.css */

/* Container principal */
.pdf-container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffffd8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Cabeçalho */
.pdf-header {
  margin-bottom: 20px;
  text-align: center;
}

h3{
  color: red;
}

.pdf-header h1 {
  font-size: 2rem;
  color: #000000;
}

/* Informações da fatura */
.pdf-info p {
  font-size: 1rem;
  color: #555;
  margin: 5px 0;
}

/* Produtos */
.pdf-products {
  margin-bottom: 20px;
}

.pdf-products h2 {
  font-size: 1.5rem;
  color: #333;
}

/* Lista de produtos */
.product-list {
  list-style: none;
  padding: 0;
}

.product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Botões de ação */
.action-buttons {
  display: flex;
  gap: 10px;
}

/* Botões */
.add-product-button,
.print-button {
  margin: 20px 0; /* Espaçamento vertical */
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-product-button {
  background-color: #e6b800;
  color: #fff;
}

.add-product-button:hover {
  background-color: #d4a000;
}

.print-button {
  background-color: #0056b3;
  color: #fff;
}

.print-button:hover {
  background-color: #003d7a;
}

/* QR Code */
.pdf-qr {
  text-align: center;
  margin: 20px 0; /* Espaçamento vertical */
}

.pdf-qr h2 {
  font-size: 1.5rem;
  color: #333;
}

/* Responsividade */
@media (max-width: 768px) {
  .pdf-header h1 {
    font-size: 1.5rem;
  }

  .pdf-info p {
    font-size: 0.875rem;
  }

  .pdf-products h2 {
    font-size: 1.25rem;
  }

  .product-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .action-buttons {
    flex-direction: column;
    gap: 5px;
  }

  .add-product-button,
  .print-button {
    font-size: 0.875rem;
    padding: 8px 16px;
  }

  .pdf-qr h2 {
    font-size: 1.25rem;
  }
}
